.admin-layout {
  display: flex;
  min-height: 92vh;
}

.sidebar {
  width: 280px;
  background-color: var(--color-oscuro);
  color: white;
  padding-top: 20px;
}

.sidebar-header {
  padding: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  text-align: center;
}

.sidebar-nav {
  margin-top: 20px;
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  color: var(--color-fondo-pagina);
  text-decoration: none;
  transition: 0.3s;
}

.sidebar-nav a:hover {
  background-color: var(--color-principal-malva);
}

.active-link {
  background-color: var(--color-principal-malva);
  border-left: 6px solid var(--color-rosa-suave);
  color: var(--color-rosa-suave) !important;
  font-weight: bold;
}

.admin-main-content {
  flex: 1;
  padding: 0;
  background-color: var(--color-fondo-pagina);
}
